html{
    background-color: grey;
}
.container{
    width: 50%;
    margin: 100px auto;
    border: 1px solid skyblue;
    border-radius: 5px;
    background-color: aliceblue;
    font-size: 35px;
    text-align: justify;
}

.container a{
    text-decoration: none;
    text-align: center;
}